<nb-layout>
    <nb-layout-header style="background-color: #808080;">
        <a href="#" (click)="toggle()"><i class="nb-menu"></i></a>
        <h4>A+ Your Future Dream Furniture</h4>

        <div style="position: absolute; right: 30px;">
            <nb-user (click)="load()" style="display: inline-block;" name="{{Mail}}"></nb-user>

        </div>

    </nb-layout-header>
    <nb-sidebar state="compacted" style="background-color: #808080;">
        <nb-menu [items]="items"></nb-menu>

    </nb-sidebar>
    <nb-layout-column class="colored-column-success">
        <nb-card>
            <nb-card-header>
                <h6>Add new Staff Members</h6>
            </nb-card-header>
            <nb-card-body>
                <input style="width: 300px; display: block;" nbInput placeholder="Enter staff account email"
                    [(ngModel)]="staffEmail">

                <input style="width: 300px; margin-top: 20px;display: block;" nbInput
                    placeholder="Enter staff account full name" [(ngModel)]="staffFullname">


                <input nbInput style="width: 300px; margin-top: 20px;display:block ;"
                    placeholder="Enter staff account password" [(ngModel)]="staffPassword">

                <button style="margin-top: 20px;" nbButton status="primary" (click)="createAccount()"
                    [disabled]='staffEmail == null || staffPassword ==null || staffFullname ==null|| !staffEmail.includes("@")'>Create
                    Staff
                    Account</button>


            </nb-card-body>
        </nb-card>

    </nb-layout-column>


</nb-layout>