<nb-layout>
    <nb-layout-header style="background-color: #808080;">
        <a href="#" (click)="toggle()"><i class="nb-menu"></i></a>
        <h4>A+ Your Future Dream Furniture</h4>

        <div style="position: absolute; right: 30px;">
            <nb-user (click)="load()" style="display: inline-block;" name="{{Mail}}"></nb-user>

        </div>

    </nb-layout-header>
    <nb-sidebar state="compacted" style="background-color: #808080;">
        <nb-menu [items]="items"></nb-menu>

    </nb-sidebar>
    <nb-layout-column class="colored-column-success">

        <h4>CURRENT PROJECTS</h4>
        <nb-card>
            <nb-card-body>
                <nb-select style="width:300px ;" size="large" placeholder="Order" [(ngModel)]="selectedOrder">
                    <nb-option *ngFor="let item of ongoing_Appointments" [value]='item["id"]'
                        (click)="showDetails(item)">
                        {{item['id']}}
                    </nb-option>

                </nb-select>
                <div *ngIf="selectedOrder != null" style="margin-top: 10px;">
                    <h6>You selected order {{selectedOrder}}</h6>


                </div>
                <div *ngIf="progressDetails!=null">
                    <nb-card-header style="margin-bottom: 20px;">
                        <h6>
                            Progress : {{progressDetails['progress']}} %
                        </h6>
                        <nb-progress-bar style="width: 40%;" status="danger" [value]="progressDetails['progress']">
                        </nb-progress-bar>

                    </nb-card-header>


                    <nb-card-header>
                        <h6>Notes added by the manager</h6>
                        <ol>
                            <div *ngFor="let item of progressDetails['notes']">
                                <li>
                                    <p>{{item}}</p>
                                </li>
                            </div>
                        </ol>

                    </nb-card-header>
                    <nb-card-header>
                        <h6>Images added by the manager</h6>
                        <ol>
                            <div *ngFor="let item of progressDetails['images']">
                                <li>
                                    <img style="height: 100px ;width: 50px;margin-top: 10px ;margin-left: 20px; "
                                        src={{item}} alt="image 1">
                                </li>
                            </div>
                        </ol>

                    </nb-card-header>
                    <button status="primary" (click)="showFeedbackInputBox()" nbButton>Add a
                        feedback</button>
                    <div *ngIf="showFeedBackInput" style="margin-top: 20px;">
                        <textarea type="text" nbInput placeholder="Add your feedback"
                            [(ngModel)]="feedBackOftheUser"></textarea>
                        <button status="success" style="display: block;" nbButton [disabled]='feedBackOftheUser==null'
                            (click)="submitFeedback()">SUBMIT</button>

                    </div>



                </div>

            </nb-card-body>

        </nb-card>




    </nb-layout-column>


</nb-layout>