<nb-layout>
    <nb-layout-header>
        <a href="#" (click)="toggle()"><i class="nb-menu"></i></a>
        <h4>welcome</h4>

        <div style="position: absolute; right: 30px;">
            <nb-user (click)="load()" style="display: inline-block;" name="John Doe" title="Engineer"></nb-user>

        </div>

    </nb-layout-header>
    <nb-sidebar state="compacted">
        <nb-menu [items]="items"></nb-menu>

    </nb-sidebar>

    <nb-layout-column class="colored-column-success">

        <h4>ESTIMATE CALCULATOR</h4>
        <nb-card>
            <nb-card-body>
                <nb-select style="width:300px ;" size="large" placeholder="Order       " [(ngModel)]="selectedOrder">
                    <nb-option *ngFor="let item of ongoing_Appointments" [value]='item["id"]' (click)="showDetails()">
                        {{item['id']}}
                    </nb-option>

                </nb-select>
                <div *ngIf="selectedOrder != null" style="margin-top: 10px;">
                    <h6>You selected order {{selectedOrder}}</h6>


                </div>
                <div *ngIf="selectedOrderDetails!=null">
                    <nb-card>
                        <nb-card-header>Date for the appointment:
                            {{selectedOrderDetails['dateFortheAppointment']}}
                        </nb-card-header>

                        <nb-card-header>Description of the order:
                            {{selectedOrderDetails['descriptionOfOrder']}}
                        </nb-card-header>
                        <nb-card-header>
                            Types required
                            <hr>
                            <div *ngFor="let item of typesRequiredStringArray">
                                <p>{{item}}</p>
                            </div>
                        </nb-card-header>

                        <nb-card-header>Clerk :
                            {{selectedOrderDetails['confirmedBy']}}
                        </nb-card-header>
                        <nb-card-header>Manager :
                            {{selectedOrderDetails['manager']}}
                        </nb-card-header>


                    </nb-card>
                </div>

            </nb-card-body>
            <div *ngIf="selectedOrderDetails!=null">

                <nb-card>
                    <ng2-smart-table [settings]="settings" [source]="itemsofInventory"
                        (userRowSelect)="onUserRowSelect($event)">
                    </ng2-smart-table>
                </nb-card>
                <!-- <div style="padding: 5px;">
                    <input type="text" nbInput placeholder="Item Id" [(ngModel)]="itemId">

                </div>
                <div style="padding: 5px;">
                    <input type="text" nbInput placeholder="Item Name" [(ngModel)]="itemName">

                </div>
                <div style="padding: 5px;">
                    <input type="text" nbInput placeholder="Item Quantity" [(ngModel)]="itemQty">

                </div> -->
                <!-- <div style="padding: 5px;">
                    <button (click)="AddItem()" nbButton status="primary"
                        [disabled]="itemId == '' || itemName =='' || itemQty ==0">Add </button></div> -->



                <div *ngIf="rows.length != 0">
                    <nb-card>
                        <table id="items">
                            <tr>
                                <th *ngFor="let column of headers">
                                    {{column}}
                                </th>
                            </tr>
                            <tr *ngFor="let row of rows">


                                <td *ngFor="let column of headers">
                                    <div *ngIf="column =='Quantity' || column =='Additional';else elseBlock">
                                <td>
                                    <input type="number" [(ngModel)]="row[column]" (keyup)="onKey($event,row,column)">
                                </td>

                </div>
                <ng-template #elseBlock>
                    <td>{{row[column]}}</td>

                </ng-template>



                </td>
                </tr>
                </table>


        </nb-card>
        <div style="margin-left: 20px;">
            <h6 style="margin-right: 10px; display: inline-block;">Profit percentage</h6> <input nbInput type="number"
                [(ngModel)]="profitPercentage"><button (click)="addProfitPercentage()"
                style="margin-left: 10px; display: inline-block;" status="primary" nbButton>Add to
                total</button>

        </div>
        <div style="margin-left: 20px;margin-top: 20px;">
            <h6 style="margin-right: 10px; display: inline-block;">Labour Cost</h6> <input nbInput type="number"
                [(ngModel)]="labourCost"><button (click)="addLabourCost()"
                style="margin-left: 10px; display: inline-block;" status="primary" nbButton>Add to
                total</button>

        </div>
        <div style="margin-left: 20px;margin-top: 20px;">
            <h6 style="margin-right: 10px; display: inline-block;">Date of Completion</h6>
            <input [nbDatepicker]="datepicker" [(ngModel)]="dateOfCompletion">
            <nb-datepicker #datepicker></nb-datepicker>


        </div>
        <div style="margin-left: 20px;">
            <h5>Total value :: {{totalValue}} Rupees</h5>
        </div>
        <button style="margin-left: 20px;margin-bottom: 10px;" nbButton status="primary" (click)='sendEstimate()'>Send
            Estimate</button>

        </div>
        </div>
        </nb-card>




    </nb-layout-column>
</nb-layout>