<nb-layout>
    <nb-layout-header>
        <a href="#" (click)="toggle()"><i class="nb-menu"></i></a>
        <h4>welcome</h4>

        <div style="position: absolute; right: 30px;">
            <nb-user (click)="load()" style="display: inline-block;" name="{{Mail}}"></nb-user>

        </div>

    </nb-layout-header>
    <nb-sidebar state=" compacted">
        <nb-menu [items]="items"></nb-menu>

    </nb-sidebar>

    <nb-layout-column class="colored-column-success">
        <h4>Total number of appointments made during this year {{totalNumberOfBookings}}</h4>


        <div *ngIf="fetchingDataCompleted == true" style="height: 300px;width: 500px; display: block;">

            <canvas baseChart width="150" height="80" [datasets]="lineChartData" [labels]="lineChartLabels"
                [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
                [plugins]="lineChartPlugins">
            </canvas>
        </div>

        <nb-card *ngIf="numberOfOrders != 0;else orders" status="primary">
            <nb-card-header> Request a new appointment </nb-card-header>


            <nb-card-body>
                To request for a an appoinment click here
                <button (click)="request()" style="margin-left: 50px;" nbButton status="primary">Request</button>
                <nb-icon (click)="hide()" *ngIf="showCloseicon" style="margin-left: 30px;" icon="close-outline"
                    status="primary">
                </nb-icon>


            </nb-card-body>
        </nb-card>

        <ng-template #orders>
            <nb-card status="danger">
                <nb-card-header> you dont have any meetings </nb-card-header>


                <nb-card-body>
                    To request for an appoinment click here
                    <button (click)="request()" style="margin-left: 50px;" nbButton status="primary">Request</button>


                </nb-card-body>
            </nb-card>
        </ng-template>
        <div *ngIf="showRequestForm">
            <ngx-request-form></ngx-request-form>
        </div>
        <nb-card *ngIf="is_there_pendingAppointments && showRequestForm == false" status="primary">
            <nb-card-header> You have {{no_of_pending}} pending Appointment(s) </nb-card-header>


            <nb-card-body>
                <nb-list>
                    <nb-list-item style="display: block;" *ngFor="let appointment of pendingAppointments">
                        ID : {{ appointment['id'] }}
                        <div style="display: inline;margin-left: 50px;">
                            Date added : {{appointment['dateAdded'].seconds*1000  | date: 'yyyy-MM-dd'}}
                        </div>
                    </nb-list-item>
                </nb-list>
            </nb-card-body>
        </nb-card>
        <nb-card *ngIf="is_there_ActiveAppointments && showRequestForm == false" status="primary">
            <nb-card-header> You have {{no_of_active}} Active Appointment(s) </nb-card-header>


            <nb-card-body>
                <nb-list>
                    <nb-list-item style="display: block;" *ngFor="let appointment of activeAppointments">
                        ID : {{ appointment['id'] }}
                        <div style="display: inline;margin-left: 50px;">
                            Date added : {{appointment['dateAdded'].seconds*1000  | date: 'yyyy-MM-dd'}}
                        </div>
                        <div style="display: inline;margin-left: 30px;">

                            Appointment time : {{appointment['timeFortheAppointment']}}


                        </div>
                        <div style="display: inline;margin-left: 30px;">

                            Appointment time : {{appointment['dateFortheAppointment']}}


                        </div>
                    </nb-list-item>
                </nb-list>


            </nb-card-body>
        </nb-card>

    </nb-layout-column>
</nb-layout>