<nb-layout>
    <nb-layout-header>
        <a href="#"><i class="nb-menu"></i></a>
        <h4>Order ID{{appointmentId}} </h4>

        <div style="position: absolute; right: 30px;">
            <nb-user style="display: inline-block;" name={{clerkMail}}></nb-user>

        </div>

    </nb-layout-header>
    <!-- <nb-sidebar state="compacted">
        <nb-menu [items]="items"></nb-menu>

    </nb-sidebar> -->
    <h4>dsds</h4>

    <nb-layout-column class="colored-column-success">

        <div>
            <form [formGroup]="confirmOrderForm" (ngSubmit)="onSubmit(confirmOrderForm.value)">
                <nb-card>
                    <nb-card-header>Details of the client</nb-card-header>
                    <nb-card-body>
                        <div class="form-control-group">
                            <label class="label" for="input-email">Email address:</label>
                            <input nbInput fullWidth name="email" id="input-email" formControlName="email">

                        </div>

                        <!-- <div class="form-control-group">
                            <label class="label" for="input-phone">Password:</label>
                            <input nbInput fullWidth name="phone" type="text" id="input-phone"
                                placeholder="Phone number" formControlName="phone">


                        </div> -->
                    </nb-card-body>
                </nb-card>
                <!-- <nb-card>
                    <nb-card-header>Pick a date for the appointment</nb-card-header>

                    <nb-card-body>
                        <div class="row">
                            <div>

                                <input nbInput placeholder="Pick Date" [nbDatepicker]="formpicker"
                                    formControlName="dateFortheAppointment">
                                <nb-datepicker #formpicker (dateChange)="handleDateChange($event)"></nb-datepicker>
                                <ng-container *ngIf="dateFortheAppointment.invalid && dateFortheAppointment.touched">
                                    <p class="error-message" style="color: red;">
                                        Date for the appointment is required!
                                    </p>

                                </ng-container>
                            </div>
                            <div style="width: 50px;">

                            </div>
                            <div>
                                <h6>Appointments on {{ date | date }}</h6>
                                <div *ngIf="appointmentsOftheMAnagerCount == 0 else elseBlock">
                                    <h6>Manager doesn't have any appointment(s) on this date</h6>

                                </div>
                                <ng-template #elseBlock>
                                    <h6>
                                        Manager has {{appointmentsOftheMAnagerCount}} appointment(s) on this date
                                    </h6>

                                </ng-template>

                            </div>

                        </div>
                    </nb-card-body>

                </nb-card> -->


                <nb-card>
                    <nb-card-header>Pick a time for the reminder</nb-card-header>

                    <nb-card-body>
                        <input [ngxTimepicker]="default2" [value]="'12:11 pm'" formControlName="remindTime">
                        <ngx-material-timepicker #default2></ngx-material-timepicker>
                        <ng-container *ngIf="remindTime.invalid && remindTime.touched">
                            <p class="error-message" style="color: red;">
                                Time for the reminder is required!
                            </p>

                        </ng-container>
                    </nb-card-body>
                </nb-card>

                <nb-card>
                    <nb-card-header>
                        Description about the appointment
                    </nb-card-header>
                    <nb-card-body>
                        <textarea nbInput fullWidth placeholder="Textarea" formControlName="description"></textarea>
                        <ng-container *ngIf="description.invalid && description.touched">
                            <p class="error-message" style="color: red;">
                                Description about the appointment is required!
                            </p>

                        </ng-container>
                    </nb-card-body>
                </nb-card>
                <nb-card>

                    <nb-card-body>
                        <button nbButton [disabled]="!confirmOrderForm.valid" status="primary">
                            Confirm
                        </button>
                    </nb-card-body>
                </nb-card>
            </form>
        </div>






    </nb-layout-column>

</nb-layout>