<h1 id="title" class="title">Register</h1>

<!-- <nb-alert *ngIf="showMessages.error && errors?.length && !submitted" outline="danger" role="alert">
    <p class="alert-title"><b>Oh snap!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let error of errors" class="alert-message">{{ error }}</li>
    </ul>
</nb-alert>

<nb-alert *ngIf="showMessages.success && messages?.length && !submitted" outline="success" role="alert">
    <p class="alert-title"><b>Hooray!</b></p>
    <ul class="alert-message-list">
        <li *ngFor="let message of messages" class="alert-message">{{ message }}</li>
    </ul>
</nb-alert> -->

<form (ngSubmit)="registerUsr(signUpForm.value)" [formGroup]="signUpForm" aria-labelledby="title">

    <div class="form-control-group">
        <label class="label" for="input-name">Full name:</label>
        <input nbInput id="input-name" name="fullName" formControlName="fullName" placeholder="Full name" autofocus
            fullWidth>
        <ng-container *ngIf="fullName.touched && !fullName.valid">
            <p class="error-message" style="color: red;">
                Full name is required!
            </p>

        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-email">Email address:</label>
        <input nbInput id="input-email" name="email" formControlName="email" placeholder="Email address" fullWidth>
        <ng-container *ngIf="!email.valid && email.touched">
            <p class="error-message" style="color: red;">
                Email is required!
            </p>
            <p class="error-message" style="color: red;">
                Email should be the real one!
            </p>
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-password">Password:</label>
        <input nbInput formControlName="password" type="password" id="input-password" name="password"
            placeholder="Password" fullWidth>
        <ng-container *ngIf="password.invalid && password.touched">
            <p class="error-message" style="color: red;">
                Password is required!
            </p>
            <!-- <p class="error-message" *ngIf="password.errors?.minlength || password.errors?.maxlength">
                Password should contains
                from {{ getConfigValue('forms.validation.password.minLength') }}
                to {{ getConfigValue('forms.validation.password.maxLength') }}
                characters
            </p> -->
        </ng-container>
    </div>

    <div class="form-control-group">
        <label class="label" for="input-re-password">Repeat password:</label>
        <input nbInput formControlName="rePassword" type="password" id="input-re-password" name="rePass"
            placeholder="Confirm Password" fullWidth>
        <ng-container *ngIf="rePassword.invalid && rePassword.touched">
            <p class="error-message" style="color: red;">
                Password confirmation is required!
            </p>
            <!-- <p class="error-message" *ngIf="password.value != rePass.value && !rePass.errors?.required">
                Password does not match the confirm password.
            </p> -->
        </ng-container>
    </div>

    <!-- <ng-container>
        <nb-radio-group formControlName="userType">
            <nb-radio *ngFor="let user of userTypes" style="display: inline-block;" [value]="user.value">
                {{ user.label }}
            </nb-radio>
        </nb-radio-group>
        <ng-container *ngIf="userType.invalid && userType.touched">
            <p class="error-message" style="color: red;">
                Please select a user type
            </p>
        </ng-container>
    </ng-container> -->

    <div class="form-control-group accept-group">
        <nb-checkbox name="terms" formControlName="agreeToConditons">
            Agree to <a href="#" target="_blank"><strong>Terms & Conditions</strong></a>
        </nb-checkbox>

        <ng-container *ngIf="agree.invalid && agree.touched">
            <p class="error-message">
                You have to agree to terms and conditions
            </p>
            <!-- <p class="error-message" *ngIf="password.value != rePass.value && !rePass.errors?.required">
                Password does not match the confirm password.
            </p> -->
        </ng-container>
    </div>

    <button nbButton fullWidth status="success" [disabled]="!signUpForm.valid">
        Register
    </button>
</form>



<section class="another-action" aria-label="Sign in">
    Already have an account? <a class="text-link" routerLink="../login">Log in</a>
</section>