.orderStatusPending{
    display: inline-block;background-color: red;padding: 10px;border-radius: 20px;
}

.orderStatusActive{
    display: inline-block;background-color: blue;padding: 10px;border-radius: 20px;
}

.orderStatusPending{
    display: inline-block;background-color: green;padding: 10px;border-radius: 20px;
}
