<nb-layout>

    <nb-layout-header fixed>
        <h3>
            A+ Steel Product Company
        </h3>
        <nb-actions class="pull-right" style="padding-left: 60%;">
            <nb-action [routerLink]="['/auth/login']" routerLinkActive="router-link-active">LOGIN</nb-action>
        </nb-actions>
    </nb-layout-header>

    <!-- <nb-layout-column style="
        position: relative !important;
        background-size: cover !important;
overflow-y: auto;

     background-repeat: no-repeat;   
    background-image: url(assets/images/bg.jpg) ">


    </nb-layout-column> -->
    <nb-layout-column>
        <div class="container" style="height: 100%">
            <div class="row" style="height: 90%;">
                <div class="col-md-4" style="background-color: rebeccapurple;padding: 0%;margin: 0%;">
                    <img src="assets/images/img.jpg" style="height: 100%;width: 100%;" alt="">
                </div>
                <div class="col-md-4" style="background-color: rebeccapurple;padding: 0%;margin: 0%;">
                    <img src="assets/images/img3.jpg" style="height: 100%;width: 100%;" alt="">
                </div>
                <div class="col-md-4" style="background-color: rebeccapurple;padding: 0%;margin: 0%;">
                    <img src="assets/images/img4.jpg" style="height: 100%;width: 100%;" alt="">
                </div>
                <div class="col-md-4" style="background-color: rebeccapurple;padding: 0%;margin: 0%;">
                    <img src="assets/images/img5.jpg" style="height: 100%;width: 100%;" alt="">
                </div>
                <div class="col-md-4" style="background-color: rebeccapurple;padding: 0%;margin: 0%;">
                    <img src="assets/images/img6.jpg" style="height: 100%;width: 100%;" alt="">
                </div>
                <div class="col-md-4" style="background-color: rebeccapurple;padding: 0%;margin: 0%;">
                    <img src="assets/images/img7.jpg" style="height: 100%;width: 100%;" alt="">
                </div>

            </div>

        </div>
    </nb-layout-column>

    <nb-layout-footer fixed>
    </nb-layout-footer>

</nb-layout>