<nb-layout>
    <nb-layout-header style="background-color: #808080;">
        <a href="#" (click)="toggle()"><i class="nb-menu"></i></a>
        <h4>A+ Your Future Dream Furniture</h4>

        <div style="position: absolute; right: 30px;">
            <nb-user (click)="load()" style="display: inline-block;" name="{{Mail}}"></nb-user>

        </div>

    </nb-layout-header>
    <nb-sidebar state=" compacted" style="background-color: #808080;">
        <nb-menu [items]="items"></nb-menu>

    </nb-sidebar>
    <nb-layout-column class="colored-column-success">
        <nb-card>
            <nb-card-header>
                <h6>Search Appointment</h6>

            </nb-card-header>
            <nb-card-header>
                <nb-search type="column-curtain"></nb-search>

            </nb-card-header>
            <nb-card-body>

                <div *ngIf="appointmentData != null" style="display: block;">
                    <nb-card-header style="display: block;">Client Email :
                        {{appointmentData['email']}}
                    </nb-card-header>
                    <nb-card-header style="display: block;">Appointment Confirmed by Clerk :
                        {{appointmentData['confirmedBy']}}
                    </nb-card-header>
                    <!-- <nb-card-header style="display: block;">Date fixed for the appointment :
                        {{appointmentData['dateFortheAppointment']}}
                    </nb-card-header> -->
                    <nb-card-header style="display: block;">Date of completion for the appointment :
                        {{appointmentData['dateOfCompletion']}}
                    </nb-card-header>
                    <nb-card-header style="display: block;">Client Email :
                        {{appointmentData['email']}}
                    </nb-card-header>
                    <nb-card-header style="display: block;">Description added by the client :
                        {{appointmentData['descriptionOfOrder']}}
                    </nb-card-header>

                    <nb-card-header style="display: block;">Labour Cost added by the Manager: Rs
                        {{appointmentData['labourCost']}}
                    </nb-card-header>
                    <nb-card-header style="display: block;">Total Cost added by the Manager: Rs
                        {{appointmentData['totalCost']}}
                    </nb-card-header>
                    <nb-card-header style="display: block;">Profit Percentage added by the Manager : Rs
                        {{appointmentData['profitPercentage']}}
                    </nb-card-header>



                </div>

            </nb-card-body>
        </nb-card>

    </nb-layout-column>


</nb-layout>