<nb-card>
    <nb-card-header>Request for a appointment</nb-card-header>
    <nb-card-body>
        <form aria-labelledby="title" [formGroup]="requestForm" (ngSubmit)="onSubmit(requestForm.value)">

            <div class="form-control-group">
                <label class="label" for="input-email">Email address:</label>
                <input nbInput fullWidth name="email" id="input-email" formControlName="email">

            </div>

            <div class="form-control-group">
                <label class="label" for="input-phone">Phone:</label>
                <input nbInput fullWidth name="phone" type="number" id="input-phone" placeholder="Phone number"
                    formControlName="phone">


            </div>
            <div class="form-control-group">
                <label class="label" for="input-phone">Preferred method for contact:</label>
                <nb-radio-group formControlName="methodOfContact">
                    <nb-radio *ngFor="let option of options" [value]="option.value">
                        {{ option.label }}
                    </nb-radio>
                </nb-radio-group>

                <ng-container *ngIf="methodOfContact.invalid && methodOfContact.touched">
                    <p class="error-message" style="color: red;">
                        Preferred method is required!
                    </p>
                    <!-- <p class="error-message" *ngIf="email.errors?.pattern">
                        Email should be the real one!
                    </p> -->
                </ng-container>


            </div>

            <div class="form-control-group">
                <label class="label" for="type">Type of the product:</label>
                <div *ngFor="let type of types; let i=index">
                    <div *ngIf="i != 7 ;else other">
                        <label>
                            <input type="checkbox" [value]="type.value" (change)="onCheckboxChange($event)" />
                            {{type.name}}
                        </label>
                    </div>

                    <ng-template #other>
                        <label>
                            <input type="checkbox" [value]="type.value" (change)="onCheckboxChange($event)" />
                            {{type.name}}
                        </label>
                        <textarea nbInput fullWidth placeholder="Enter details about your custom request"
                            [(ngModel)]="description" [ngModelOptions]="{standalone:true}"></textarea>

                    </ng-template>



                </div>

                <ng-container *ngIf="this.requestForm.controls['checkTypes'].errors?.required">
                    <p style="color: red;">
                        Type of the product is required, select atleast one value.
                    </p>
                    <!-- <p class="error-message" *ngIf="email.errors?.pattern">
                        Email should be the real one!
                    </p> -->
                </ng-container>
                <ng-container *ngIf="this.checkOtherType() && description==''">
                    <p style="color: red;">
                        Please add a desrcption.
                    </p>
                    <!-- <p class="error-message" *ngIf="email.errors?.pattern">
                        Email should be the real one!
                    </p> -->
                </ng-container>

            </div>
            <div class="form-control-group">
                <label class="label" for="input-des">Description of your request:</label>
                <textarea nbInput fullWidth name="description" type="text" id="input-des"
                    placeholder="Description of your request" formControlName="descriptionOfOrder"></textarea>



                <ng-container *ngIf="descriptionOfOrder.invalid && descriptionOfOrder.touched">
                    <p class="error-message" style="color: red;">
                        Description of your request is required!
                    </p>
                    <!-- <p class="error-message" *ngIf="email.errors?.pattern">
                        Email should be the real one!
                    </p> -->
                </ng-container>


            </div>
            <div class="form-control-group">
                <label class="label" for="input-address">Your Address:</label>
                <textarea nbInput fullWidth name="address" type="text" id="input-address" placeholder="Your address"
                    formControlName="address"></textarea>



                <ng-container *ngIf="address.invalid && address.touched">
                    <p class="error-message" style="color: red;">
                        Address is required!
                    </p>
                    <!-- <p class="error-message" *ngIf="email.errors?.pattern">
                        Email should be the real one!
                    </p> -->
                </ng-container>


            </div>
            <div style="display: block;">
                <label class="label" for="input-date">Any preferred date for the appointment:</label>
            </div>
            <input nbInput placeholder="Pick Date" [nbDatepicker]="formcontrol" formControlName="date">
            <nb-datepicker #formcontrol></nb-datepicker>
            <div style="height: 50px;"></div>


            <ngx-dropzone (change)="onSelect($event)">
                <ngx-dropzone-label>Upload a sample image</ngx-dropzone-label>
                <ngx-dropzone-preview *ngFor="let f of files" [removable]="true" (removed)="onRemove(f)">
                    <ngx-dropzone-label>{{ f.name }} ({{ f.type }})</ngx-dropzone-label>
                </ngx-dropzone-preview>
            </ngx-dropzone>




            <button style="margin-top: 20px;" nbButton fullWidth status="success" [disabled]="!requestForm.valid">
                Request
            </button>
        </form>

    </nb-card-body>
</nb-card>