<nb-layout>
    <nb-layout-header>
        <a href="#" (click)="toggle()"><i class="nb-menu"></i></a>
        <h4>welcome</h4>

        <div style="position: absolute; right: 30px;">
            <nb-user (click)="load()" style="display: inline-block;" name={{clerkMail}}></nb-user>

        </div>

    </nb-layout-header>
    <nb-sidebar state="compacted">
        <nb-menu [items]="items"></nb-menu>

    </nb-sidebar>

    <nb-layout-column class="colored-column-success">

        <div style="display: inline-block;margin-bottom: 20px;">
            <button nbButton style="margin-right: 20px;" status="primary" (click)="loadAddStock()">Add Stock</button>

            <button nbButton status="primary" (click)="loadRemoveStock()">Remove Stock</button>
        </div>


        <nb-card>
            <ng2-smart-table [settings]="settings" [source]="itemsofInventory" (createConfirm)="addRecord($event)"
                (deleteConfirm)="deleteRecord($event)" (editConfirm)="updateRecord($event)">
            </ng2-smart-table>
        </nb-card>

    </nb-layout-column>
</nb-layout>